* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}

.laton-font {
    font-family: 'Lato', sans-serif;
}

/* navbar */
.navbar {
    color: white;
}

.nav-item .nav-link {
    color: white;
}

.nav-item .nav-link:hover {
    color: #FFDEA6;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*header text */
.jumbotron-header {
    background-color: transparent;
    margin-top: -150px;
}

.header-text {
    line-height: 1;
    color: #f6f6f6;
}

small {
    position: relative;
    display: inline-block;
    font-size: 22px;
    letter-spacing: 3px;
}

.header-text h1 span {
    display: block;
    letter-spacing: 3px;
    line-height: 1.3;
}

.lead {
    font-size: 20px;
    font-weight: 200;
}

.btn-jumbotron {
    background-color: transparent;
    color: #f6f6f6;
}

/* background img */
#welcome {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    filter: brightness(50%);
}

#welcome .carousel-inner {
    max-height: 600px;
}

/* menu */
.menu-wrapper {
    background: white;
    margin-top: 90px;
}

hr {
    width: 100px;
    display: inline-block;
    border-bottom: 2px solid #b7b7b7;
    border-top: none;
    margin-bottom: 30px;
    margin-left: 45%;
}

.card {
    border: none;
    text-align: center;
}

.my-card-header {
    font-weight: 800;
}

.my-card-description {
    font-size: 16px;
}

/* counter div */
.counter {
    background: #F3F0EB;
}

.counter-header {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .12em;
    padding-top: 20px;
}

.count {
    font-family: 'Merriweather', serif;
    margin-bottom: 0;
    font-size: 72px;
    line-height: 1.1;
    font-weight: 700;
    color: #e7931a;
}

/* contact us */
.contact-us {
    height: 400px;
    color: #F6F6F6;
}

.card-contact:hover {
    color: #FFDEA6;
    cursor: pointer;
}

.card-contact .card-body a {
    text-decoration: none;
    color: inherit;
}

/* quotes */
.clients {
    height: 320px;
    background-color: #E7931A;
    color: #F9EBD7;
}
blockquote {
    background-color: #D8840A;
    padding-top: 10px;
}
blockquote p:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f10d";
    float: left; 
    margin-right: 10px;
}
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 20%;
  top: 100%;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}
blockquote p {
    width: 80%;
    margin: 0 auto;
}
.quote-img {
    width: 100px; 
    height: 100px;
}
.my-quote {
    margin-left: -80px;
}
blockquote .my-quote small::before {
    left: 80px;
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    border-bottom: 2px solid #F9EBD7;
}
blockquote .my-quote small{
    padding-left: 150px;
    color: white;
    font-weight: bold;
}
/* footer */
/*footer*/
.col_white_amrc { color:#FFF;}
.img_amrc {
    width: 100px; 
    height: 100px;
    margin-top: 45px;
    margin-bottom: 15px;
}
footer { width:100%; background-color:#263238; min-height:18px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li a:hover { color: #FFDEA6; }
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
/*media queries*/
@media (max-width: 767px) {
    .navbar {
        background-color: #343434;
        padding: 0;
        padding-top: 10px;
    }

    .navbar-brand {
        width: 50% !important;
        float: left;
        padding-top: 0;
        margin-top: -10px;
    }

    .navbar-brand img {
        width: 50% !important;
    }

    /* carousel */
    #welcome {
        top: 100px;
    }

    .custom-toggler {
        padding-top: 0;
        margin-top: -10px;
    }

    .jumbotron-header {
        margin-top: -20px;
    }

    /* header text */
    .display-4 span {
        font-size: 24px;
    }

    small {
        font-size: 20px;
    }

    .lead,
    .btn-jumbotron {
        display: none;
    }

    /* menu */
    .menu-wrapper {
        margin-top: 0px;
    }

    .contact-us {
        height: 800px;
    }

    blockquote p {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .menu-wrapper {
        margin-top: 115px;
    }
}

@media (min-width: 1024px) {
    .display-4 small::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        border-bottom: 2px solid #fff;
        right: -150px;
    }

    .display-4 small::before {
        left: -150px;
        content: "";
        position: absolute;
        top: 50%;
        width: 100px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        border-bottom: 2px solid #fff;
    }

}